@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #254d4d;
  --text-dark: #171717;
  --text-light: #737373;
  --extra-light: #e4e7e6;
  --white: #ffffff;
  --max-width: 1500px;
  --header-font: "Merriweather", serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection{
  background-color: var(--primary-color);
  color: var(--white);
}
.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}
.nav__logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--header-font);
  margin-left: 5px;
}
.logo-img{
  width: 77px;
}
img {
  display: flex;
  width: 100%;
  user-select: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  /* background-color: #000000d2; */
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo .logo {
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--white);
}

.header__container {
  display: grid;
  overflow: hidden;
  margin-top: 3rem;
}

.header__image {
  grid-area: 1/1/2/2;
}

.header__image img {
  max-width: 1000px;
  margin-left: auto;
}

.header__content {
  grid-area: 1/1/2/2;
  display: flex;
  align-items: center;
}

.header__content > div {
  max-width: 670px;
  padding: 4rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--primary-color);
}

.header__content p {
  font-size: 1.2rem;
  color: var(--text-light);
}

.about__content {
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.about__grid {
  display: grid;
  gap: 2rem;
}

.about__image {
  overflow: hidden;
  max-width: 500px;
  height: 550px;
  margin-left: 4rem;
}
.about__image img {
  width: 100%;
  height: 100%;
}

.about__card h3 {
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.about__card p {
  color: var(--text-light);
}

.deals__container {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

.deals__card span {
  display: inline-block;
  margin-bottom: 0.7rem;
  width: 100px;
}

.deals__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.product__grid {
  margin: 4rem 0;
  display: grid;
  gap: 2rem;
}

.product__card {
  position: relative;
  isolation: isolate;
}

.product__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background-color: var(--extra-light);
  z-index: -1;
  transition: 0.3s;
}

.product__card:hover::before {
  height: 100%;
}

.product__card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-dark);
  margin: 1rem 0;
  margin-left: 2.5rem;
}

.product__card img {
  max-width: 330px;
  margin-inline: auto;
}
.product-btn {
  text-align: center;
}
.product-btn .btn{
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
  padding: 13px 30px;
  border: 2px solid var(--text-dark);
  border-radius: 15px;
  transition: 0.3s;
}
.product-btn .btn:hover{
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.footer {
  background-color: var(--primary-color);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__logo .logo {
  color: var(--white);
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--extra-light);
  opacity: 0.8;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--text-dark);
  transition: 0.3s;
}

.footer__socials a:hover {
  color: var(--white);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--extra-light);
  opacity: 0.8;
}

.footer__links a:hover {
  opacity: 1;
}

.footer__bar {
  padding: 1rem;
  font-size: 1rem;
  color: var(--extra-light);
  opacity: 0.8;
  text-align: center;
}

@media (width > 540px) {
  .deals__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .about__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__logo .logo {
    color: var(--primary-color);
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .header__container {
    padding-top: 0;
  }

  .deals__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .deals__card:nth-child(1) {
    grid-column: 1/4;
  }

  .about__header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .about__content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__image {
    grid-area: 1/2/2/3;
  }

  .product__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width > 1024px) {
  .deals__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .deals__card:nth-child(1) {
    grid-column: unset;
  }

  .about__grid {
    gap: 4rem 2rem;
  }
}
